<?xml version="1.0" encoding="UTF-8"?>
<suite name="UI Test Suite">
	<listeners>
		<listener class-name="common.Listeners" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
	</listeners>
	<test name="Listener Testing">
		<classes>
			<class name="ui.ReportGeneration" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
